body {
    background-color: #6d4a2b;
}

header {
    background-color: #815d19;
    text-align: left;
    padding: 20px;
    color:rgb(155, 136, 85)
}

h1 {
    color: blanchedalmond;
        
}

header li {
    border: rgba(207, 165, 136, 0.925) 1px solid;
    text-align: center;
    display: inline;
    color: rgb(146, 146, 146);
    padding: 0px 0px 0px 80px;
    }

#section1, #section2, #section3 {
    text-align: left;
    margin: 0px 0px 0px 0px;
}

p {
    text-align: left;
    color: #DE8704;
    margin: 0px 0px 40px 0px;
}

footer {
    border-style:ridge;
    border-color:rgb(222, 135, 4, 87);
    background:#2B2102;
    text-align: center;
    margin: 0px 0px 0px 920px
}

footer, ul, li {
    border-style: solid;
    border-color:rgb(56, 38, 4);
    color:rgb(77, 51, 2);
}